@model Enfermo

<h1>Detalles @Model.Apellido</h1>

<ul class="list-group">
    <li class="list-group-item">
        Numero de inscripcion: @Model.Inscipcion
    </li>
    <li class="list-group-item">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item">
        Direccion: @Model.Direccion
    </li>
    <li class="list-group-item">
        Fecha de Nacimiento: @Model.FechaNacimiento
    </li>
    <li class="list-group-item">
        Genero: @Model.Genero
    </li>
    <li class="list-group-item">
        Numero de la Seguridad Social: @Model.NumeroSeguridadSocial
    </li>
</ul>